<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwConfigExceptions="true" internalLogLevel="Warn" internalLogFile="internal-nlog.txt">
    <!-- Включаем атрибут internalLogFile для отладки (можно удалить в продакшн среде) -->

    <targets>
        <!-- Target для логов в файл -->
        <target xsi:type="File" name="logfile" fileName="logs/app.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,StackTrace}" />
    </targets>

    <rules>
        <!-- Правило для записи всех логов уровня Info и выше -->
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>
